*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050816;
  color:white;
  font-family:'Inter',sans-serif;
  overflow-x:hidden;
}

.gradient-text{
  background:linear-gradient(135deg,#c084fc,#60a5fa);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.glass{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.08);
  backdrop-filter:blur(24px);
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#9333ea;
  border-radius:999px;
}

input::placeholder{
  color:#94a3b8;
}

button{
  transition:all .3s ease;
}

button:hover{
  transform:translateY(-2px);
  opacity:.95;
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.1);}
  100%{transform:scale(1);}
}

@keyframes float{
  0%{transform:translateY(0px);}
  50%{transform:translateY(-12px);}
  100%{transform:translateY(0px);}
}
